        p {
            font-size: 13px;
            display: block;
            color: #ffffff;
            margin-top: 0px;
            margin-bottom: 10px;
            margin-left: 10px;
            margin-right: 20px;
            font-weight: normal;
        }

        h1 {
            font-size: 15px;
            text-align: center;
            display: block;
            color: #ffffff;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 0;
            margin-right: 0;
            font-weight: bold;
        }

        h2 { 
            font-size: 12px;
            display: block;
            color: #ffffff;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
        }

        h3 { 
            font-size:12px;
            color:#ffffff;
            font-style: italic;
            font-weight: lighter;
            display: block;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
        }

         h4 { 
            font-size:11px;
            font-weight: lighter;
            font-style: italic;
            display: block;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
        }

        #estilo-header {
            font-size:15px;
            font-weight:lighter;
            color:white;
            text-align: center;
        }

                            
        #container {
            align-self: center;
            text-align:center;
            width:900px;
            height: auto;
            margin: auto;
        }

        #container-footer {
            font-size: 9px;
            font-weight: lighter;
            color: grey;
            background-color: #1d1d1d;
            text-align: center;
            width: 900px;
            height: 40px;
            bottom: 0;
            margin-top: 10px;
            padding-top: 10px;
        }

        #columna-izquierda {
            float:left;
            width:420px;
            padding-top: 10px;
        }

        #columa-derecha {
            float:right;
            width:420px;
            padding-top: 10px;
            padding-left:5px;
        }

        img {
            float: left;
            margin: 0 0 0 0;
        }

        /* estilos links */
        /* link normal */
         a:link {
            color: #b200ff;
            font-size:13px;
            text-align:right;
        }

        /* link visto */
        a:visited {
            color: #b200ff;
        }

        /* mouse over sobre link */
        a:hover {
            color: #fa01e0;
        }

        /* color link al ser clickeado */
        a:active {
            color: #fa01e0;
        }